*{
    font-family: "Arial";
    color: rgb(218, 218, 218);
    padding: 0;
    margin: 0;
}

body{
    overflow: hidden;
}

.navbar-light .navbar-brand {
    color: #fff;
    font-size: 3rem;
}

section{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url(img/fondo.jpg);
    background-size: cover;
    background-position: center;
}

section .h-33{
    position: relative;
    height: 33%;
}

section p {
    color: white;
    font-family: "poppins";
    font-weight: 500;
}

section span.pr-4 {
    font-size: 1.5rem;
}

section span.text-white::before{
    content: "";
    position: absolute;
    width: 7px;
    height: 10px;
    background-color: #73e8ff;
    left: 46px;
    bottom: 12px;
}

section .flex{
    display: flex;
    flex-direction: column;
    place-content: space-between;
    align-items: flex-end;
    padding: 10px 0px;
}

section i {
    font-size: 1.5rem;
    color: white;
}

section h4 {
    color: #73e8ff;
    text-shadow: 3px 3px 8px #000;
}

section .social {
    position: absolute;
    left: -100%;
    transform: rotate(-90deg);
    font-size: 1.5rem;
    top: 50%;
    width: 400px;
    display: flex;
    justify-content: space-between;
}

section a {
    color: white;
    font-size: 1.5rem;
}

section .social a:hover {
    color: white;
    text-decoration: none;
}

section img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 130%;
}

@keyframes bounce {
    0% {
        width: 130%;
    }

    80% {
        width: 130%;
    }

    90% {
        width: 140%;
    }

    100% {
        width: 130%;
    }
}

section .fa-arrow-up {
    background-color: white;
    color: #73e8ff;
    height: 100px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.1rem;
    border-radius: 10px 10px 0px 0px;
}

section .fa-arrow-down {
    background-color:#73e8ff;
    color: white;
    height: 100px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.1rem;
    border-radius: 0px 0px 10px 10px;
}

section h1 {
    color: white;
    font-size: 14rem;
    margin: -30px auto;
    text-align: center;
}

section h1:before {
    content: "#SaludSeguridad";
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translate(-50%);
    font-size: 2.5rem;
    letter-spacing: 25px;
    font-family: "Roboto";
}

span.salud {
    color: #73e8ff;
}

@media (max-width: 1200px) {
    section h1 {
        font-size: 8rem;
    }
}

@media (max-width: 991px) {
    section img {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0.4);
    }
    section h4, .social {
        visibility: hidden;
    }

    header span.mt-5{
        margin-top: 0rem !important;
    }
    .flex {
        visibility: hidden;
    }
}